// ==========================
// Variables
// ==========================
$columns: 12;
$gutter-width: 60px;
$col-width: 100% / $columns;

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 $gutter-width / 2;
}
.container-fluid {
	margin: 0 auto;
	padding: 0 $gutter-width / 2;
}

[class*='col-'] {
	width: 100%;
	min-height: 1px;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@for $i from $columns through 1 {
	.col-xs-#{ $i } {
		width: $col-width * $i;
	}
}


@media all and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	@for $i from $columns through 1 {
		.col-sm-#{ $i } {
			width: $col-width * $i;
		}
	}
	@for $i from $columns through 1 {
		.col-sm-offset-#{ $i } {
			margin-left: $col-width * $i;
		}
	}
}


@media all and (min-width: 769px) {
	.container {
		max-width: 720px;
	}
	@for $i from $columns through 1 {
		.col-md-#{ $i } {
			width: $col-width * $i;
		}
	}
	@for $i from $columns through 1 {
		.col-md-offset-#{ $i } {
			margin-left: $col-width * $i;
		}
	}
}


@media all and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	@for $i from $columns through 1 {
		.col-lg-#{ $i } {
			width: $col-width * $i;
		}
	}
	@for $i from $columns through 1 {
		.col-lg-offset-#{ $i } {
			margin-left: $col-width * $i;
		}
	}
	.tweet-container {
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		padding: 50px 30px;
	}
}


@media all and (min-width: 1200px) {
	.container {
		max-width: 1360px;
	}
	@for $i from $columns through 1 {
		.col-xl-#{ $i } {
			width: $col-width * $i;
		}
	}
	@for $i from $columns through 1 {
		.col-xl-offset-#{ $i } {
			margin-left: $col-width * $i;
		}
	}
}


@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
  .tweet-container {
		max-width: 1370px;
	}
}


@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
  .tweet-container {
		max-width: 1570px;
	}
}


@media screen and (min-width: 1920px) {
  .container {
    width: 1870px;
  }
  .tweet-container {
		max-width: 1870px;
	}
  .main {
  	max-width: 1900px;
		width: 100%;
		margin: 0 auto;
  }
}